.logo {
  height: 8vmin;
  pointer-events: none;
  vertical-align: middle;
}

.logos {
  margin-bottom: 50px;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.bottom-link {
  margin-top: 10vmin;
  font-size: calc(10px + 0.8vmin);
}

.page-content {
  margin-bottom: 10vmin
}
.main-text {
  font-size: calc(10px + 2vmin);
}
.react-ai-link {
  color: #61dafb;
  font-size: calc(10px + 0.8vmin);
}
button {
  margin: 2px;
}

#heart {
  padding-left: 20px;
  padding-right: 22px;
  height: 6vmin;
}
